<template>
  <div class='about'>
    <p>
      This is a simple application, which displays jokes from <a href="https://api.chucknorris.io/">https://api.chucknorris.io/</a> via its API service.
    </p>
    <p>
      Go to <router-link to="/">joke page</router-link>.
    </p>
  </div>
</template>

<script>
</script>

<style scoped>
</style>
