<template>
  <div class="joke">
    <h1>Chuck Norris Jokes</h1>
    <img v-bind:src="imageURL"/>
    <transition name="fade">
      <div v-if="message">
        <p v-bind:class="{error: hasError}">
          {{message}}
        </p>
      </div>
    </transition>
    <div>
      <button v-on:click="fetchNewJoke">Next one</button>
      <button v-on:click="nuke">☢</button>
      <button v-on:click="gotoAbout">About</button>
    </div>
    <transition name="fade">
      <div v-if="loading">
        <p>
          Joke is loading, please wait...
        </p>
      </div>
    </transition>
  </div>
</template>

<script>
// Import asset images so that we can use them in our program.
import nukeIcon from '../assets/Nuclear_symbol.svg';
import defaultIcon from '../assets/default.svg';
import errorIcon from '../assets/error.svg';

const chuckNorrisApiUrl = 'https://api.chucknorris.io/jokes/random';

export default {
  name: 'hello',
  data() {
    return {
      loading: false,
      hasError: false,
      message: null,
      imageURL: defaultIcon,
    };
  },
  methods: {
    fetchNewJoke: function fetchNewJoke() {
      if (this.loading) return;

      if (!fetch) {
        this.hasError = true;
        this.imageURL = errorIcon;
        this.message = 'Your browser does not support fetch API.';
        this.loading = false;
      } else {
        this.loading = true;

        fetch(chuckNorrisApiUrl)
          .then(res => res.json())
          .then((json) => {
            this.imageURL = json.icon_url ? json.icon_url : defaultIcon;
            this.hasError = false;
            this.message = json.value;
            this.loading = false;
          }).catch((err) => {
            this.hasError = true;
            this.imageURL = errorIcon;
            this.message = err.toString();
            this.loading = false;
          });
      }
    },
    nuke: function nuke() {
      this.hasError = true;
      this.message = 'NUCLEAR MISSILE LAUNCHED FROM VOID!!';
      this.imageURL = nukeIcon;
    },
    gotoAbout: function gotoAbout() {
      this.$router.push('/about');
    },
  },
  computed: {
    imageVisibility: function imageVisibility() {
      return this.imageURL === '' ? { display: 'none' } : {};
    },
  },
  mounted: function firstFetch() {
    this.fetchNewJoke();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

p.error {
  color: red;
}

img {
  max-height: 64px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
