<template>
  <div class='NF'>
    <h2>404</h2>
    <p>
      The path you wish to navigate to do not exist.
    </p>
    <p>
      Back to <router-link to="/">main page</router-link>.
    </p>
  </div>
</template>

<script>
</script>

<style scoped>
</style>
